.week {
  display: flex;
  flex-wrap: wrap;
}

.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.week:first-of-type .day:first-of-type {
  margin-left: 0%;
}

.week:last-of-type .day:last-of-type {
  margin-right: 0%;
}

/* OTHER STYLES */
/* 
html, body {
  height: 100%;
}

body {
  background: linear-gradient(top, #fad961, #f76d1d);
  background-attachment: fixed;
} */

.month {
  max-width: 630px;
  margin: 20px auto;
}

.week {
}

.day {
  min-height: 80px;
  color: #F98909;
  padding: 5px;
  min-width: 80px;
  background-color: transparentize(white, 0.30);
  box-shadow: 
    -1px -1px #F9A440, 
    inset -1px -1px 0 0 #F9A440;
}